/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: arial, sans-serif;
  background-color: #252525;
  color: #fff;
  margin: 0;
} 

header {
  background-color: #101010;
}

nav {
  background-color: #101010;
}

h1, a {
  color: #f035a0
}

h2 {
  color: #b245f0
}

.primary-color {
  color: #f035a0
}

.secondary-color {
  color: #b245f0
}

.hidden {
  display: none;
}

#navController {
  transition: content 0.5s;
  font-size: x-large;
  float: right;
}

.content-width {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.content-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo-img {
  width: 56.25px;
  height: 46.5px; 
  margin: 0 auto;
  display: block;
}

.body-container {
  flex: 1 0 auto;
  /* margin-bottom: 120px; */
  background-color: #252525;
}

.footer-container {
  padding: 35px;
  background-color: #000;
  color: #fff;
}

.footer {
  flex-shrink: 0;
}

/* .body-item {

} */

.grey {
  background-color: #252525;
}

.dark {
  background-color: #101010;
}

.star-canvas {
  background-color: #000;
}

#mapid {
  height: 400px;
}

.page-header {
  margin: 0;
  padding: 25px 0;
}

/********************************/
/*        header styles         */
/********************************/

.header-logo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.site-header {
  max-height: 75px;
  border-bottom: 1px solid #1d1d1d;
}

/********************************/
/*     color styles             */
/********************************/

.red {
  color: red;
}

.blue {
  color: #0078d3;
}

.green {
  color: green;
}

.gold {
  color: #daa520;
}

/********************************/
/*        navbar styles         */
/********************************/

.topnav {
  overflow-y: hidden;
  background-color: #101010;
  max-height: 0;
  position: relative;
  right: -25px;
  transition: max-height 0.5s ease; 
}

.topnav a {
  float: left;
  color: #0078d3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: color ease 0.2s;
}

.topnav a:hover {
  color: #105bd8;
}

.topnav a {
  display: block;
  float: none;
  text-align: center;
}

a.nav-icon {
  float: right;
  margin: 15px;
  position: relative;
  bottom: 55px;
  border: grey solid 1px;
  border-radius: 25%;
  padding: 10px;
}

.topnav.responsive {
  max-height: 192px;
}

/********************************/
/*     load spinner styles      */
/********************************/

.loader-wrapper {
  position: absolute;
  top: 45%;
  right: 45%;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}


/* TABLET STYLES */

@media screen and (min-width: 768px) {

  /* applies to screens wider than 499px */
  
  body {
    background-color: #101010;
  } 

  .site-header {
    max-height: initial;
  }

  .topnav {
    max-height: 192px;
    right: unset;
  }

  .topnav a {
    display: inline-block;
    position: relative;
    text-align: center;
  }

  .topnav a.active {
    border-bottom: #0066b2 solid 2px;
  }

  a.nav-icon {
    display: none;
  }

  .header-logo {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logo-img {
    width: 112.5px;
    height: 93px; 
    margin: initial;
  }

}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background-color: #101010;
  }

  /********************************/
  /*     header styles            */
  /********************************/
  
}
