/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

* {
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  background-color: #000;
  color: #fff;
} 

h1, a {
  color: #f035a0
}

h2 {
  color: #b245f0
}

.primary-color {
  color: #f035a0
}

.secondary-color {
  color: #b245f0
}

#navController {
  transition: content 0.5s;
  font-size: x-large;
  float: right;
}

.content-width {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.body-container {
  background-color: #171c25;
}

.logo-img {
  width: 56.25px;
  height: 46.5px; 
  margin: 0 auto;
}

/********************************/
/*        header styles         */
/********************************/

.header-logo {
  padding-top: 10px;
  padding-bottom: 10px;
}

/********************************/
/*     color styles             */
/********************************/

.red {
  color: red;
}

.blue {
  color: lightskyblue;
}

.green {
  color: green;
}

.gold {
  color: #daa520;
}

/********************************/
/*        test styles           */
/********************************/

.topnav {
  overflow: hidden;
  background-color: #000;
  max-height: 0;
  transition: max-height 0.5s ease; 
}

.topnav a {
  float: left;
  color: #daa520;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: color ease 0.2s;
}

.topnav a:hover {
  color: #b1861b;
}

.topnav a.active {
  border-bottom: #daa520 solid 2px;
}


.topnav a {
  display: block;

  float: none;
  text-align: left;
}

a.nav-Icon {
  float: right;
  display: block;
  margin: 20px;
}

.topnav.responsive {
  /* position: relative; */
  max-height: 192px;
}



/* TABLET STYLES */

@media screen and (min-width: 768px) {

  /* applies to screens wider than 499px */
  
  body {
    background-color: #000;
  } 

  .topnav {
    max-height: 192px;
  }

  .topnav a {
    display: inline-block;
    position: relative;
    text-align: center;
  }

  a.nav-Icon {
    display: none;
  }

}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background-color: #000;
  }

  /********************************/
  /*     header styles            */
  /********************************/

  .header-logo {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logo-img {
    width: 112.5px;
    height: 93px; 
  }
  
}
